.info-block-container{
    height: 100%;
    display: flex;
    background-color: #9c7481;
    border-radius: 15px;
}

.username{
    margin-top: 2.5%;
    margin-left: 5%;
}

.user-numbers{
    margin-top: 2.5%;
    margin-left: 15%;
}

